telegram:
    token: {{ TELEGRAM_TOKEN }}
    allow_chat: 
{% for item in ALLOW_CHAT %}
        - telegram_id: {{ item.telegram_id }}
          torrent_permission: '{{ item.torrent_permission }}'
{% endfor %}
    proxy:
      url: socks5://{{ TELEGRAM_PROXY_URL }}:{{ TELEGRAM_PROXY_PORT }}
      username: {{ TELEGRAM_PROXY_USERNAME }}
      password: {{ TELEGRAM_PROXY_PASSWORD }}

transmission:
    address: {{ TRANSMISSION_SERVER }}
    port: {{ TRANSMISSION_PORT }}
    user: {{ TRANSMISSION_USERNAME }}
    password: {{ TRANSMISSION_PASSWORD }}
    path:
{% for item in TRANSMISSION_PATH %}
      - category: {{ item.category }}
        dir: '{{ item.dir }}'
{% endfor %}

db:
    path: {{ DB_PATH }}

schedule:
    check_period: {{ DOWNLOAD_STATUS_CHECK_PERIOD }}
